<div class="container records">
  <%= link_to("返回", participants_path, class: "btn btn-warning")%>
  <%= link_to "下注", new_bet_path(:participant_id => @participant.id), class: "btn btn-primary  pull-right" %>
  <br>
  <br>
  <h1 class="h2 mb-3">No. <%= @participant.id %> <%= @participant.name %> - 下注情況</h1>
  <br>
  <div class="table-responsive">
    <table class="table">
      <br>
      <thead>
        <tr>
          <th scope="col">小隊</th>
          <th scope="col">名字</th>
          <th scope="col">金額</th>
          <th scope="col">下注時間</th>
        </tr>
      </thead>
      <tbody>
        <% @bets.each do |bet| %>
          <tr>
            <td><%= bet.team %></td>
            <td><%= bet.name %></td>
            <td><%= bet.money %> 元</td>
            <td><%= bet.created_at.in_time_zone("Taipei") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
